.abtcrd{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border-radius: 2rem;
    border: solid;
    border-color: rgba(100, 5, 168, 0.211);
    width: 80%;
    height: 40%;
}
.abtcrd p{
    margin: 1rem;
}
.abtcrd:hover{
    box-shadow: 1px 1px 1px 3px rgba(128, 0, 128, 0.533);
    background-color: rgba(141, 1, 157, 0.164);
}