.section_padding{
    padding: 4rem 4rem;
}

.footer{
    position: relative;
    overflow: hidden; 
    height: 50vh;
}


.lottie-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.sb_footer{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: relative;
}

.sb_footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    text-align: left;
    margin-bottom: 2rem;
}

.sb_footer-links-div{
    width: 100px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
    color: rgb(0, 0, 0);

}

a{
    color: rgb(117, 115, 115);
    text-decoration: none;   
}

/*.socialmedia{
    display: flex;
    flex-direction: row;
}

.socialmedia img{
    width: 80%;
}*/

.sb_footer-links-div h4{
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

.sb_footer-links-div p{
    font-size: 17px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.sb_footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2rem;
}

.sb_footer-below-links{
    display: flex;
    flex-direction: row;
}

.sb_footer-below-links p{
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}

hr{
    color: white !important;
    width: 100%;
    margin-top: 0,5rem;
}

.sb_footer-copyright p{
    font-size: 13px;
    line-height: 44px;
    color: rgb(225,225,225);
    font-weight: 600;
    margin-top: 0.5rem;
}
.f-btn {
    background-color: #e6f2ff;
    border-radius: 3rem;
    border: 1px solid #e6f2ff;
    color: rgb(35, 120, 177); 
    padding: 0.5rem 1rem; 
    text-decoration: none; 
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease !important; 
}

.f-btn:hover {
    background-color: #4e88b4 !important; 
    color: #e6f2ff !important; 
    border-color: #4e88b4 !important; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important; 
    border-radius: 3rem;
}







@media screen and (max-width: 850px){
    .sb_footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }

    .f-btn{
        padding: 0.5rem 1.5rem;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px){
    .sb_footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }

    .sb_footer-links div{
        margin: 1rem 0;
    }

    .sb_footer-btn p{
        font-size: 14px;
        line-height: 20px;
    }

    .sb_footer-below{
        flex-direction: column;
        justify-content: left;
    }

    .sb_footer-below-links{
        flex-direction: column;
    }

    .sb_footer-below-links p{
        margin-left: 0rem;
        margin-top: 0rem;
    }

    .f-btn{
        padding: 0.4rem 1.2rem;
        font-size: 12px;
    }
    .footer{
        height: 80vh;
    }
}

@media screen and (max-width: 480px){
    .sb_footer0-heading h1{
        font-size: 27px;
        line-height: 38px;
    }

    .lottie-animation{
        width: 150%;
        height: 150%;
        top: -25%;
        left: -25%;
    }

    .f-btn{
        padding: 0.3rem 1rem;
        font-size: 10px;
    }

    .sb_footer-below{
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .footer-below-links{
        flex-direction: column;
        align-items: center;
    }

    .sb_footer-below-links p{
        margin-left: 0;
        margin-top: -0.8rem;
    }
    
    .footer{
        height: 70vh;
    }
} 