.contact-container {
    width: 800px;
    margin: auto;
    padding: 2rem; 
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 1rem; 
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: gray;
}

.contact-container p {
    margin: 0; 
    line-height: 1.0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.contact-container h3 {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}



.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1.5px solid #bbbbbb;
    border-radius: 12px;
    background-color: #e7e6e7;
}

.form-group textarea {
    resize: vertical;
    height: 140px;
    width: 100%;
}

button:hover {
    background-color: rgb(141, 1, 157);
    border-radius: 0.5rem;
    border-color: rgb(141, 1, 157);
}

.send-btn {
    color: aliceblue;
    background-color: rgb(99, 5, 168);
    border-color: rgb(99, 5, 168); 
    padding: 0.5rem;
    height: auto;
    width: 100px;
    border-radius: 12px;
    cursor: pointer;
    margin: 1.5rem auto; 
    display: block; 
}

.send-btn:hover {
    background-color: rgb(141, 1, 157);
    border-color: rgb(141, 1, 157);
}
