.Hero {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    position: relative;
}

.H-left {
    flex: 1;
    position: relative; 
    z-index: 1; 
    background-color: rgba(255, 255, 255, 0.8);
}

.H-left h1 {
    display: flex;
    flex-direction: column;
    color: gray;
    font-size: 4rem;
    font-weight: 500;
}

.H-left h4 {
    color: rgb(141, 1, 157);
    padding: 2rem 0;
}

.H-left span {
    color: gray;
    padding: 2rem 0;
}

.H-right {
    flex: 1;
    position: relative;
}

.hero-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .Hero {
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        position: relative;
    }

    .H-left {
        text-align: center;
        padding: 1rem;
        width: 100%;
        order: 1;
        position: relative;
        z-index: 1; 
        padding: 2rem;
    }

    .H-left h1 {
        font-size: 2.8rem; 
    }

    .H-right {
        text-align: center;
        padding: 1rem;
        width: 100%;
        order: 2;
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
        z-index: 0;
    }

    .hero-animation {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .H-left {
        width: 100%;
        text-align: center;
        padding: 1rem;
        order: 1;
        position: relative;
        z-index: 1; 
    }

    .H-left h1 {
        font-size: 1.5rem;
    }

    .H-left h4 {
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    .H-left span {
        padding: 0.5rem 0;
        font-size: 1rem;
    }

    .H-right {
        text-align: center;
        padding: 1rem;
        width: 100%;
        order: 2;
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
        z-index: 0;
    }

    .hero-animation {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}
