.rule-search {
    margin: 5rem 0;
    background-color: rgba(255, 255, 255, 0.267);
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
}
.searchbar{
    width: 100%;
}

.searchbar input {
    color: aliceblue;
}

.searchbar input:hover {
    border-color: rgb(141, 1, 157);
}

.searchbar button {
    color: aliceblue;
    background-color: rgb(99, 5, 168);
    border-color: rgb(99, 5, 168);
    width: 20%;
}

.searchbar button:hover {
    color: aliceblue;
    background-color: rgb(141, 1, 157);
    border-color: rgb(141, 1, 157);
}

.rules {
    padding: 2rem 0;
    border: 2px solid rgba(144, 144, 144, 0.349);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.cat-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

.cat-btns button {
    width: 100%;
    border-color: rgb(99, 5, 168);
    color: black;
}

.cat-btns button:hover {
    border-color: rgb(141, 1, 157);
    background-color: rgb(141, 1, 157);
}

.pro-btn {
    background-color: rgb(99, 5, 168);
    border-color: rgb(99, 5, 168);
    width: 20%;
}

.pro-btn:hover {
    color: aliceblue;
    background-color: rgb(141, 1, 157);
    border-color: rgb(141, 1, 157);
}
.btn-outline-custom {
    background-color: transparent;
    color: #007bff;
    border: 1px solid #007bff;
}

.btn-outline-custom:hover {
    background-color: #007bff;
    color: white;
}

.btn-custom-selected {
    background-color: rgb(99, 5, 168);
    color: white !important; 
    border-color: rgb(99, 5, 168);
}
.result-buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

}
.result-buttons button{
    width: 100%;
    text-align: left;
}
.category-secondary{
    background-color: white;
    color: black;
}
.category-secondary:hover{
    color: aliceblue;
    background-color: rgb(141, 1, 157);
    border-color: rgb(141, 1, 157);
}
.category-primary{
    background-color: rgb(99, 5, 168);
    color: white !important; 
    border-color: rgb(99, 5, 168);
}
.category-primary:hover{
    color: aliceblue;
    background-color: rgb(141, 1, 157);
    border-color: rgb(141, 1, 157);
}
.pro-btng2{
    width: 20%;
}

@media (max-width: 768px) {
    .rule-search {
        margin: 3rem 0;
        padding: 1rem;
    }

    .searchbar {
        flex-direction: column;
    }

    .pro-btn{
        width: 50%;
        margin-top: 1rem;
        height: 100%;
    }

    .searchbar button {
        width: 50%;
    }

    .rules {
        padding: 1rem 0;
        width: 90%;
        margin: 0 auto;
    }

    .cat-btns {
        gap: 0.5rem;
    }

    .result-buttons{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .result-buttons button{
        flex: 1 1 50%;
        padding: 0rem 1rem;
    }
}

@media (max-width: 480px) {
    .rule-search {
        margin: 1rem 0;
        padding: 0.5rem;
    }

    .searchbar {
        flex-direction: column;
        gap: 0.5rem;
    }

    .searchbar input, .searchbar button {
        width: 50%;
    }

    .pro-btn{
        width: 50%;
        margin-top: 1rem;
        height: 100%;
    }

    .rules {
        padding: 0.5rem;
        width: 100%;
    }

    .cat-btns {
        gap: 0.5rem;
    }

    .result-buttons{
        flex-direction: column;
        gap: 0.5rem;
        margin-right: 1rem;

    }

    .result-buttons button{
        width: 100%;
    }

    @media (max-width: 450px) {
        .rule-search {
            margin: 1rem 0;
            padding: 0.5rem;
        }
    
        .searchbar {
            flex-direction: column;
            gap: 0.5rem;
        }
    
        .searchbar input,
        .searchbar button {
            width: 100%;
        }
    
        .pro-btn {
            width: 100%;
            margin-top: 1rem;
            height: 100%;
        }
    
        .rules {
            padding: 0.5rem;
            width: 100%;
            margin: 0 auto;
        }
    
        .cat-btns {
            gap: 0.5rem;
        }
    
        .result-buttons {
            flex-direction: column;
            gap: 0.5rem;
        }
    
        .result-buttons button {
            width: 100%;
        }
    }

}