.rule-search {
    margin: 5rem 0;
    background-color: rgba(255, 255, 255, 0.267);
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
}
.searchbar{
    width: 100%;
}

.searchbar input {
    color: aliceblue;
}

.searchbar input:hover {
    border-color: rgb(141, 1, 157);
}

.searchbar button {
    color: aliceblue;
    background-color: rgb(99, 5, 168);
    border-color: rgb(99, 5, 168);
    width: 20%;
}

.searchbar button:hover {
    color: aliceblue;
    background-color: rgb(141, 1, 157);
    border-color: rgb(141, 1, 157);
}

.rules {
    padding: 2rem 0;
    border: 2px solid rgba(144, 144, 144, 0.349);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.cat-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

.cat-btns button {
    width: 100%;
    border-color: rgb(99, 5, 168);
    color: black;
}

.cat-btns button:hover {
    border-color: rgb(141, 1, 157);
    background-color: rgb(141, 1, 157);
}

.pro-btn {
    background-color: rgb(99, 5, 168);
    border-color: rgb(99, 5, 168);
}

.pro-btn:hover {
    color: aliceblue;
    background-color: rgb(141, 1, 157);
    border-color: rgb(141, 1, 157);
}
